a {
    text-decoration: none;
    color: white;
}
.pagination {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: saddlebrown;
    color: white;
    height: 2rem;
    text-align: center;
}

.complete {
    color: darkgreen;
}

.form-group {
    position: relative;
}

.list-group {
   position: absolute;
    width: 100%;
    top: 100%;
    z-index: 100;
}

.list-group:hover {
    cursor: pointer;
}

.search-form {
    position: relative;
}

.pending:hover {
    background-color:#198754 !important;
    border: 1px rgba(0, 0, 0, 0.5);
}

