a {
    text-decoration: none;
    color: white;
}
.pagination {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: saddlebrown;
    color: white;
    height: 2rem;
    text-align: center;
}